/* Copy to clipboard. */
.clipboard-container {
  position: relative;
  float: right;
}

.btn-clipboard {
  position: absolute;
  top: 0.65rem;
  right: 0.65rem;
  z-index: 10;
  display: block;
}

/* Armoured result. */
#armoured-result {
  white-space: pre;
}

/* Hint text. */
.hint {
  font-size: .9em;
}
